@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Rock+3D&family=Source+Code+Pro:wght@200&display=swap');
* {
  box-sizing: border-box;
  /* system font stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  display: flex;
  flex-direction: row;
}

#left {
  flex-shrink: 0;
  position: relative;
  width: 35vw;
  height: 100vh;
  background: url("../images/background.jpeg") no-repeat;
  background-size: cover;
}

.logo {
  font-family: 'Rock 3D', cursive;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  color: #fff;
  padding: 10px;
  top: 25%;
  width: 100%;
  height: 200px;
  font-size: 55px;
  background-color: rgba(87, 55, 95, 0.5);
}

#right {
  background-color: blue;
  width: 70vw;
  height: 100vh;
}

/* .logo img {
  width: 200px;
  height: 150px;
} */