@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Rock+3D&family=Source+Code+Pro:wght@200&display=swap');

* {
  box-sizing: border-box;
  /* system font stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh
}

:root {
  --right-panel-color: #222;
  --right-form-color: #333;
}

#left {
  flex-shrink: 0;
  position: relative;
  width: 35vw;
  background: url("../images/background.jpeg") no-repeat;
  background-size: cover;
}

.logo {
  font-family: 'Rock 3D', cursive;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  padding: 10px;
  top: 25%;
  width: 100%;
  height: 200px;
  /* fluid typography */
  font-size: clamp(1.5rem, 4vw, 4rem);
  background-color: rgba(87, 55, 95, 0.5);
}

#right {
  --header-heigth: 40vh;
  background-color: var(--right-panel-color);
  font-size: clamp(1.2rem, 1.2vw, 3rem);
  width: 70vw;
}

#right header.info {
  height: var(--header-heigth);
  text-align: left;
  padding-top: calc(var(--header-heigth) - 20vh);
  padding-right: 40%;
  padding-left: 50px;
}

#right form > div.info-on-required {
  width: 100%;
  padding-bottom: 10px;
  font-weight: bolder;
}

#right form {
  --padding: 20px;
  --focus-border: rgb(18, 85, 241);
  --border: rgb(132, 164, 240);
  display: flex;
  align-content: space-around;
  background-color: var(--right-form-color);
  box-shadow: 0 2px 3px 0 rgb(61, 61, 61);
  flex-wrap: wrap;
  padding: var(--padding) 50px;
  height: 30vh;
  font-size: 1rem;
}

#right form > div {
  display: flex;
  gap: 5px;
  width: 50%;
  flex-direction: column;
}

#right form > div > input {
  background-color: #222;
  border: 2px solid var(--border);
  border-radius: 3px;
  outline: none;
  width: 50%;
  height: 30px;
}

#right form > div > input:focus {
  box-shadow: 0 0 3px 0px var(--focus-border);
  border: 2px solid var(--focus-border);
  background-color: #333;
}

#right form>div>input:invalid {
  border-color: rgb(254, 18, 18);
}

#right form>div>input:valid {
  border-color: rgb(58, 219, 22);
}

#right footer {
  padding: 50px;
  height: 30vh;
}

#right footer > button {
  padding: 5px;
  border: 0;
  width: 120px;
  height: 50px;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: rgb(84, 55, 189);
}

#right footer > button:hover {
  background-color: rgb(60, 39, 134);
}

#right footer > button:active {
  background-color: rgb(70, 54, 129);
}

#right footer > p {
  padding-top: 20px;
}

#right footer > p > a {
  color: rgb(84, 55, 189);
}

#right footer > p > a:hover {
  color: rgb(60, 39, 134);
}

#right footer>p>a:active {
  color: rgb(70, 54, 129);
}